fieldset {
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

input,
select,
textarea {
  color: white;
  font-size: medium;
  background-color: inherit;
  border-radius: 30px;
  margin: 5px 0px;
  padding: 1em;
}

::placeholder {
  color: white;
  opacity: 1;
}

button {
  border-radius: 30px;
  padding: 8px 20px;
  margin: 0px 10px;
}
